gauges.json
[{"id":"71329116.834fe","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d8280627.c021d","type":"trigger","z":"71329116.834fe","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-200","extend":false,"overrideDelay":false,"units":"ms","reset":"stop","bytopic":"all","topic":"topic","outputs":1,"x":200,"y":180,"wires":[["1c4eafd0.d69558"]]},{"id":"1c4eafd0.d69558","type":"function","z":"71329116.834fe","name":"get level","func":"msg.payload=\"mha.transducers.calib_out.rmslevel?val\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":300,"wires":[["5a541f5f.f1ffb8"]]},{"id":"5a541f5f.f1ffb8","type":"tcp request","z":"71329116.834fe","server":"localhost","port":"33337","out":"time","splitc":"5","name":"Level","x":360,"y":300,"wires":[["59d491c.d84cd7","5c3ed4b6.b21bdc"]]},{"id":"59d491c.d84cd7","type":"function","z":"71329116.834fe","name":"toString level L","func":"msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.replace(\"[\", \"\");\nmsg.payload=msg.payload.replace(\"]\", \"\");\nmsg.payload=msg.payload.split(\" \");\nmsg.payload=parseFloat(msg.payload[0]);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":300,"wires":[["c4066303.9e3ee8"]]},{"id":"5c3ed4b6.b21bdc","type":"function","z":"71329116.834fe","name":"toString level R","func":"msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.replace(\"[\", \"\");\nmsg.payload=msg.payload.replace(\"]\", \"\");\nmsg.payload=msg.payload.split(\" \");\nmsg.payload=parseFloat(msg.payload[1]);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":360,"wires":[["126d526.596222e"]]},{"id":"c4066303.9e3ee8","type":"ui_gauge","z":"71329116.834fe","name":"","group":"327c549a.1b1474","order":7,"width":"3","height":"2","gtype":"gage","title":"Out level L","label":"","format":"","min":"30","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":300,"wires":[]},{"id":"126d526.596222e","type":"ui_gauge","z":"71329116.834fe","name":"","group":"327c549a.1b1474","order":8,"width":"3","height":"2","gtype":"gage","title":"Out level R","label":"","format":"","min":"30","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":360,"wires":[]},{"id":"3e9b3d88.29d5f2","type":"inject","z":"71329116.834fe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":120,"y":60,"wires":[["d8280627.c021d","9a445278.4cefc8"]]},{"id":"9a445278.4cefc8","type":"function","z":"71329116.834fe","name":"","func":"msg.payload=\"cmd=start\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":440,"wires":[["5a541f5f.f1ffb8"]]},{"id":"327c549a.1b1474","type":"ui_group","name":"Hearing Aid Processing","tab":"7f692d6.05e65d4","order":1,"disp":false,"width":"6","collapse":false},{"id":"7f692d6.05e65d4","type":"ui_tab","name":"Hearing Aid Processing","icon":"dashboard","order":2,"disabled":false,"hidden":false}]